.main-container {
  background-image: url("../public/background-image.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  object-fit: cover;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: space-around;


}